body {
    background: white;
    margin: 0px;
}

#drinks {
    background: gray;
    width: 99%;
    height: 100px;
    padding: 5px;position: fixed;
    top: 0px;
    z-index: 10000;
}

#accounts {
    position: absolute;
    left: 0px;
    right: 200px;
    top: 120px;
    bottom: 0px;
}

div.drink {
   display: inline;
}

/* ACCOUNTS TABLE */

table {
    width: 100%;
}

table input {
    display: none;
}

tr.user.row1 {
    background: #AAA;
}

tr.user.row2 {
    background: #CCC;
}

tr.user.selected {
    background: #CFC;
}

.selected td.checkbox {
    background: #5F5;
}

td.name {
    width: *;
}

td.number {
    text-align: right;
    width: 75px;
}
