body {
    background: white;
    margin: 0px;
}

/* GENERAL LAYOUT STUFF */

#drinks {
    background: #999;
    width: 100%;
    height: 100px;
    padding: 5px;
    position: fixed;
    top: 0px;
    z-index: 10000;
}

#accounts {
    position: absolute;
    left: 0px;
    right: 200px;
    top: 120px;
    bottom: 0px;
}

/* DRINKS MENU AT TOP OF PAGE */

div.drink {
   background: #CCC;
   display: inline-block;
   margin: 2px;
   padding: 5px;
}

div.drink.selected {
    background: #CFC;
}

div.drink input {
    display: none;
}

#buy {
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 20px;
    
    background: #FCC;
    border: 1px solid #FCC;
    font-weight: bold;
}

#buy:active {
    position: relative;
    top: 2px;
    left: 1px;
}

/* ACCOUNTS TABLE */

table {
    width: 100%;
}

table input {
    display: none;
}

tr.user.row1 {
    background: #BBB;
}

tr.user.row2 {
    background: #DDD;
}

tr.user.selected {
    background: #CFC;
}

.selected td.checkbox {
    background: #5F5;
}

td.name {
    width: *;
}

td.number {
    text-align: right;
    width: 75px;
}
