{% extends 'pointofsale/base.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
	<link href="{% static 'pointofsale/buydrink.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}
<form action="" method="post">{% csrf_token %}
<div id="drinks">
    <input type="submit" value="Buy" id="buy" />

    {% for drink in form.drink %}
        <div class="drink">
            <label for="drink_{{ forloop.counter0 }}"> {{ drink.choice_label }}
            {% for key, value in drinks.items %}
                {% if key == drink.choice_label %}
                    ({{ value }} &#8359;)
                {% endif %}
            {% endfor %}
            </label>{{ drink.tag }}
        </div>
    {% endfor %}
    {{ form.drink.errors }}
</div><div id="spacer">&nbsp;</div>

<div id="useful">
    <a href="{% url 'pos:register' %}">Register participant</a>
    | <a href="{% url 'pos:overview' %}">Participant overview</a>
</div>

<div id="log">
    <div id="logheader">LOG</div>
    {{ form.non_field_errors }}
    {% for item in log %}
        {{ item.time }} <br />{{ item.account }} - {{ item.drink }}<hr />
    {% endfor %}
</div>

<div id="accounts">
{{ form.account.errors }}
<table>
    <tr>
        <td></td>
        <th>Name</th>
        <th>&#8359;</th>
        <th>&#8359; spend</th>
        <th>&#8359; left</th>
    </tr>
{% for account in form.account %}
    {% for key, info in accounts.items %}
        {% if key|lower == account.choice_label|lower %}
            <tr class="user {% cycle 'row1' 'row2' %}">
                <td class="checkbox">{{ account.tag }}</td>
                <td class="name"><label for="account_{{ forloop.counter1 }}">{{ info.name }}</label></td>
                <td class="number"><label for="account_{{ forloop.counter1 }}">{{ info.credits }}</label></td>
                <td class="number"><label for="account_{{ forloop.counter1 }}">{{ info.used }}</label></td>
                <td class="number"><label for="account_{{ forloop.counter1 }}">{{ info.left }}</label></td>
            </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
</table>
</div>

</form>

{{ debug }}

{% endblock content%}
