body {
    background-color: #ccc;
    font-size: 3em;
}

div.row1, div.row2 {
    margin: 3px;
    padding: 5px;
    text-align: justify;
}

div.row1 {
    background-color: #999;
}

div.row2 {
    background-color: #fff;
}

div.title {
    font-weight: bold;
    font-size: 11pt;
    text-align: right;
}
